@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=East+Sea+Dokdo&family=Poppins:wght@400&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
h1,
h1,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.itemSize{
    height: 600px;
}
.size{
    height: 100%;
    object-fit:cover;
    filter: brightness(0.3);
}
.navLink{
    text-decoration:none;
}
.image-height{
    height:210px;
}
.navArea{
    padding: 10px 0;
    background-color: rgba(38, 38, 38,0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    transition: 0.6s;
}
.icon{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    font-weight:500;
}
.nav-icon{
    color: #FFD333;
}
.navButton{
    color: #ffffff;
    padding: 0 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: all linear 0.4s;
}
.navButton:hover{
    color:#FFD333;
}
.dropdown-menu[data-bs-popper] {
    background-color: #26262666;
}
.dropdown-item-bg-color:hover{
    background-color: #050505;
}
.dropdown-title-color {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: all linear 0.4s;
}
.dropdown-title-color:hover{
    color:#ffffff
}
.dropdownStyle{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    transition: all linear .4s;
    color: #ffffff;
    
}
.dropdownStyle:hover{
    color: #ffffff;
}
.regLog{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight:bolder;
    text-align: center;
    background-color: #FFD333;
    color: white;
}
.regLogForm{
    width:fit-content;
    margin: 0 auto;
    padding: 50px 0;
}
.regLogSubmit{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.regLogSubmit Button{
    background-color: #ffffff!important;
    border: 1px solid #000000;
    transition: all linear .4s;
    color:#000000;
    margin:10px 0;
}
.regLogSubmit Button:hover {
    background-color: #FFD333!important;
    border: none;
}
.already{
    display: flex;
    justify-content: center;
}
.loginReg:hover{
 color: #FFD333;   
}
.registrationLog{
    border: 5px solid #FFD333;
    margin: 100px;
    border-radius: 6px;
}
.time {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 23px;
    left: 640px;
}


.figmaProject{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 3px solid #FFD333;
    display: inline;
    font-weight: bold;
}
.cardTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.description{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: rgb(70, 67, 67);
}
.tag{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: black;
    font-weight: bolder;
}
.visit{
    margin-left:5px;
    font-size:15px;
    display: inline-block;
}
.cardButton{
    background-color: #FFD333;
    color: #ffffff;
    border: none;
    transition: all linear .4s;
}
.cardButton:hover{
    background-color: #ffffff;
    color: #FFD333;
}
.cardShadow{
    border: none;
    box-shadow: 7px 3px 3px #FFD333;
}
.content{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    background-color: #FFD333;
    color: white;
}
.blogEditor{
    padding: 100px 0;
}
.contentWidth{
    margin: 0 auto;
    padding: 15px 0;
}
.blogButtonFlex{
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    top:0;
    right: 0;
}
.blogButtonPosition{
    position: relative;
    margin-top: 70px;
}
.buttonStyle{
    background-color: #FFD333;
    border: none;
}
.submitButton{
    display: flex;
    justify-content: end;
    transition: all linear .4s;
}
.submitButton:hover{
    background-color: white;
}
.reactBackround{
    background-color: #F8F8F8;
}
.reactPadding{
    padding: 50px 0;
}

.blogImage {
    width: 30%;
    margin: 0 auto;
    height: 290px;
    transition: all linear .4s;
}
.blogImage:hover{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.blogButton{
    background-color: #FFD333;
    color: #000000;
    border: 0;
    padding:5px;
    width:75px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: all linear .4s;
}
.delete:hover{
    background-color: #ff0000!important;
}
.edit{
    margin-left: 15px;
}
.edit:hover{
    background-color: #008000!important;
}

.backGround{
    background-color:#dddddd;
    height: 100vh;
}
.author{
    font-size: 20px;
    font-weight: bold;
    color: #FFD333;
}
.authorName{
    font-size: 20px;
    font-weight: 400;
}